{% extends "StephaneBlogBundle::layout.html.twig" %}
{% block title %} {{ parent() }} - Index{% endblock %}
{% block stephane_body %}
    <h1>Article creation</h1>

    {{ form(form.title) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('article') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
